{% extends 'base.html.twig' %}

{% block title %}Discover Our Current Positions{% endblock %}

{% block body %}
    
    <header class="header">

        {% include 'components/_navigation.html.twig' %}

        {% include 'components/_header-image.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1 mb-2">Discover Our Open Positions</h1>

            {% if pagination.totalItemCount > 0 %}

                <div class="jobs">

                {% for job in pagination %}

                    <article class="job">
                        <h3 class="job__title">{{ job.title }} <span class="job-teaser__fte">({{ job.fte }} %)</span></h3>
                        <p class="job__description">{{ job.description|slice(0, 120) }}...</p>
                        <a role="button" class="job__link contrast" href="{{ path('app_job_show', {'id': job.id}) }}">Learn more</a>

                        <div class="features">

                            {% for feature in job.features %}

                                <span class="feature">{{ feature.title }}</span>

                            {% endfor %}

                        </div>

                    </article>

                {% endfor %}

                {# Pagination controls #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>

            {% else %}

                <div class="jobs">
                    <p>Currently, no open positions are available.</p>
                </div>

            {% endif %}

        </section>

    </main>

{% endblock %}
