{% extends 'base.html.twig' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1">Applications for {{ job.title }}</h1>

            {% if job.applications.count > 0 %}

                <table class="table">

                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Curriculum Vitae</th>
                            <th>Letter of Motivation</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for application in job.applications %}

                            <tr>
                                <td>{{ application.applicant.firstName }}</td>
                                <td>{{ application.applicant.lastName }}</td>
                                <td>{{ application.applicant.email }}</td>

                                <td>
                                    <a href="{{ path('show_application_document', { 'fileName': application.curriculumVitae }) }}" target="_blank">
                                        Curriculum Vitae {{ application.applicant.firstName }} {{ application.applicant.lastName }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('show_application_document', { 'fileName': application.letterOfMotivation }) }}" target="_blank">
                                        Letter of Motivation {{ application.applicant.firstName }} {{ application.applicant.lastName }}
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>

            {% else %}
                <p>No applications yet.</p>
            {% endif %}

        </section>

    </main>

{% endblock %}
