{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Fte</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>
                            <a href="{{ path('app_job_show', {'id': job.id}) }}">
                                {{ job.title }}
                            </a>
                        </td>
                        <td>{{ job.fte }}</td>
                        <td>
                            <a role="button" class="contrast" href="{{ path('app_job_edit', {'id': job.id}) }}">edit</a>
                            <a role="button" class="contrast" href="{{ path('app_job_applications', {'id': job.id}) }}">See applications</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <a role="button" class="contrast" href="{{ path('app_job_new') }}">Create new Job</a>

    </main>


{% endblock %}
