{% extends 'base.html.twig' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block body %}

    <main class="main">

        <section class="section">

            <h1 class="h1">{{ job.title }} / {{ job.fte }} %</h1>

            <div class="features">

                {% for feature in job.features %}

                    <span class="feature">{{ feature.title }}</span>

                {% endfor %}

            </div>

            <p class="mb-2">
                {{ job.description }}
            </p>

        </section>

    </main>

{% endblock %}
