{% extends 'pdf-base.html.twig' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block body %}

    <header class="header">

        {% if job.headerImage %}
            <div class="header__image mb-4">
                <img src="{{ asset('/image/jobs/' ~ job.headerImage) }}" alt="{{ job.title }}">
            </div>
        {% endif %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1">{{ job.title }} / {{ job.fte }} %</h1>

            <p class="mb-2">
                {{ job.description }}
            </p>

        </section>

    </main>

{% endblock %}
