{% extends 'base.html.twig' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1">{{ job.title }} / {{ job.fte }} %</h1>

            <div class="features">

                {% for feature in job.features %}

                    <span class="feature">{{ feature.title }}</span>

                {% endfor %}

            </div>

            <p class="mb-2">
                {{ job.description }}
            </p>

            <div>
                <a href="{{ path('app_job_apply', {'id': job.id}) }}">Apply Now</a>
                <a href="{{ path('app_index') }}">Back</a>

                <form action="{{ path('app_job_pdf', {'id': job.id}) }}" method="post" data-turbo="false">
                    <input type="hidden" name="job" value="{{ job.id }}">
                    <button>PDF</button>
                </form>
            </div>

        </section>

    </main>


{% endblock %}
