{% extends 'base.html.twig' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1">{{ job.title }} / {{ job.fte }} %</h1>

            <div class="features mb-2">

                {% for feature in job.features %}

                    <span class="feature">{{ feature.title }}</span>

                {% endfor %}

            </div>

            <p class="mb-2">
                {{ job.description }}
            </p>

            <div>

                <div class="mb-2">
                    <a role="button" class="contrast" href="{{ path('app_job_application_apply', {'id': job.id}) }}">Apply Now</a>

                </div>


                <div>
                    <a role="button" class="contrast outline" href="{{ path('app_index') }}">Back</a>

                    <form class="download" action="{{ path('app_job_pdf', {'id': job.id}) }}" method="post" data-turbo="false">
                        <input type="hidden" name="job" value="{{ job.id }}">
                        <button type="submit" class="btn contrast outline">Get PDF</button>
                    </form>
                </div>


            </div>

        </section>

    </main>


{% endblock %}