{% extends 'base.html.twig' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block body %}

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="heading heading--h1">{{ job.title }} / {{ job.fte }} %</h1>

            <div class="features mb-4">

                {% for feature in job.features %}

                    <span class="feature">{{ feature.title }}</span>

                {% endfor %}

            </div>

            <p class="mb-2">
                {{ job.description }}
            </p>

            <div class="btn-group">
                <a class="btn btn__apply" href="#">Apply Now</a>
                <a class="btn btn__primary" href="{{ path('app_index') }}">Back</a>
                <a class="btn btn__primary" href="{{ path('app_index') }}">Print as PDF</a>
            </div>

        </section>

    </main>


{% endblock %}
