{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}
    <style></style>

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1 mb-2">Applications</h1>

            {% if applications|length > 0 %}

                <table>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                {% for application in applications %}

                    <tr class="applications-list">
                        <th scope="row">{{ application.applicant }}</th>
                        <td>{{ application.job }}</td>

                        {% if application.applicationStatus == 'Pending' %}
                            <td class="font-application-status">{{ application.applicationStatus }}</td>
                        {% elseif application.applicationStatus == 'Invited' %}
                            <td class="font-application-status--invited">{{ application.applicationStatus }}</td>
                        {% elseif application.applicationStatus == 'Approved' %}
                            <td class="font-application-status--approved">{{ application.applicationStatus }}</td>
                        {% elseif application.applicationStatus == 'Rejected' %}
                            <td class="font-application-status--rejected">{{ application.applicationStatus }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('show_single_application', {id: application.id}) }}">Manage Application</a>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>

            </table>

            {% else %}

                <p>No applications yet.</p>

            {% endif %}

        </section>

    </main>

{% endblock %}
