{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}
    <style></style>

    <header class="header">

        {% include 'components/_navigation.html.twig' %}

    </header>

    <main class="main">

        <section class="section">

            <h1 class="h1 mb-2">{{ application.applicant }}</h1>

            <ul>
                {% if application.applicationStatus == 'Pending' %}
                    <li>Status <span class="application-status">{{ application.applicationStatus }}</span></li>
                {% elseif application.applicationStatus == 'Invited' %}
                    <li>Status <span class="application-status application-status--invited">{{ application.applicationStatus }}</span></li>
                {% elseif application.applicationStatus == 'Approved' %}
                    <li>Status <span class="application-status application-status--approved">{{ application.applicationStatus }}</span></li>
                {% else %}
                    <li>Status <span class="application-status">{{ application.applicationStatus }}</span></li>
                {% endif %}

                <li>{{ application.applicant }}</li>
                <li>{{ application.applicant.email }}</li>
            </ul>

            <h3 class="h3 mb-2">Documents</h3>

            <ul class="mb-2">
                <li>
                    <a href="{{ path('show_application_document', {fileName: application.curriculumVitae}) }}" target="_blank">
                        <strong>Curriculum Vitae</strong>
                    </a>
                </li>
                <li>
                    <a href="{{ path('show_application_document', {fileName: application.letterOfMotivation}) }}" target="_blank">
                        <strong>Letter of Motivation</strong>
                    </a>
                </li>
            </ul>

            <div class="application-actions">
                <a href="{{ path('response_to_application', {id: application.id}) }}" role="button" class="contrast">
                    Write E-Mail
                </a>
            </div>

        </section>

    </main>

{% endblock %}
