{% if is_granted('ROLE_ADMIN') %}

<nav class="navigation navigation--admin mb-2">
    <ul>
        <li>
            <a href="{{ path('app_job_index') }}">
                Jobs
            </a>
        </li>
        <li>
            <a href="{{ path('app_feature_index') }}">
                Features
            </a>
        </li>
        <li>
            <a href="{{ path('app_new_user') }}">
                New User
            </a>
        </li>

        <li>
            <a href="{{ path('app_logout') }}">
                Log out
            </a>
        </li>
    </ul>
</nav>

{% endif %}

<nav class="navigation">

    <a href="{{ path( 'app_index' ) }}">
        <div class="navigation__logo"></div>
    </a>

    <ul>
        <li>
            <a href="{{ path('app_page_about') }}">
                About
            </a>
        </li>
        <li>
            <a href="{{ path('app_page_contact') }}">
                Contact
            </a>
        </li>
    </ul>
</nav>